@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Thasadith&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(189, 124, 250);
}
.container {
    width: 690px;
    border-radius: 7px;
    padding: 30px;
    background: #ffffff;
}
.wrapper {
    border-radius: 5px;
    border: 1.5px solid #0c0b0b;
}
.wrapper .text-input {
    display: flex;
    border-bottom: 1px solid #0c0a0a;
}
.text-input .to-text {
    border-radius: 0px;
    border-left: 1px solid #000000;
}
.text-input textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font: 18px;
    border-radius: 5px;
    padding: 10px 15px;
    background: none;
}
.controls {
    list-style: none;
    padding: 12px 15px 10px 10px;
}
.controls .row.from .icon{
    padding-right: 15px;
    border-right: 1px solid #bbb ;
}
.controls .row.to .icon{
    padding-left: 15px;
    border-left: 1px solid #bbb ;
}
.controls, li, .icon , .icon i {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls .icon {
    width: 38%;
}
.controls .icon i {
    width: 50px;
    color: #422222;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}
.controls .row select {
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}
.container .exchange {
    color: #422222;
    font-size: 16px;
    cursor: pointer;
}
.container button {
    width: 100%;
    padding: 14px;
    margin-top: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background: rgb(70, 180, 76);
}